@font-face {
    font-family: "Pro Display";
    src: url("../SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: "Pro";
    src: url("../SF-Pro.ttf");
}

html { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    --darkblue:rgb(21, 27, 36); 
    --white: white;
    overflow: hidden;
}
h1 { 
    font-family: "Pro";
    font-weight: 900;
    font-size: 3rem; 
}


.main {
    margin-top: 5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: transparent;
}
.grid:hover {
    border: 2px solid black;
}
.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.toolbar>*{
    flex-grow: 1;
}
input#grid-size, input#grid-color {
    max-width: 100px;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid black;
}

button#grid-erase, button#grid-reset {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid black;
    color: inherit;
}

input#grid-size:hover,input#grid-color:hover, button#grid-erase:hover, button#grid-reset:hover{
    border: 2px solid black;
}

